.about-pic {
  max-width: 450px;
  width: 100%;

  @media (max-width: 1400px) {
    max-width: 300px;
    width: 100%;
  }
}

.about-card {
  max-width: 400px;
  width: 100%;
}

.about-subtitle {
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.about-card {
  background-color: rgb(53, 53, 53);
}

.card-text {
  color: rgb(156, 154, 154);
}

