<div id="profile" class="container col-12 col-md-8 my-5 mx-auto">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">

      <!-- <img src="./assets/picture-cv.jpg" alt="Profile image" class="rounded-circle img-fluid profile-pic"> -->
    </div>
    
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">

      <!-- <button (click)="prueba()"> CONEXION BACK </button> -->
      <!-- <p class="fs-5">Hello, I'm</p> -->
      <p class="fs-5">{{ 'GREETINGS' | translate }}</p>
   
      <h1 class="fw-bold">RM profile component</h1>
      <p class="subtitle fs-4">Software Engineer</p>
      <div class="d-flex justify-content-center mt-4">


        <div class="d-flex justify-content-center mt-4">
          <button class="bt btn-color-2 me-2 " (click)="downloadResume()" >
            <p class="fs-7 m-0">{{ 'DOWNLOAD_CV' | translate }}</p>
          </button>
          <button class="bt btn-color-1" (click)="scrollTo('contacts')">
            <p class="fs-7  m-0">{{ 'CONTACT_ME' | translate }}</p>
          </button>
        </div>


        <!-- <button class="bt btn-color-2 me-2" (click)="downloadResume()" >
          Download CV
        </button>
        <button class="bt btn-color-1" (click)="scrollTo('contacts')">
          Contact Me
        </button> -->



      </div>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <a class="linkedin-icon">
          <i class="fab fa-linkedin fa-3x icon mx-2 pointer hover-icon" (click)="goToLinkedin()"></i>
        </a>
        <a>
          <i class="fab fa-github fa-3x icon mx-2 pointer hover-icon" (click)="goToGithub()"></i>
        </a>
      </div>
    </div>
  </div>
</div>
